server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: ebank-backend
  
  datasource:
    url: jdbc:mysql://localhost:3306/banking_project
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true  
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    defer-datasource-initialization: false

  mail:
    host: localhost
    port: 25

  sql:
    init:
      mode: never
  


jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 3600000  # 1 hour in milliseconds

logging:
  level:
    com.ebank: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE 